apps/webcomponents/cypress/fixtures/insee-wfs-describe-feature-type.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:insee="https://www.geo2france.fr/insee" xmlns:wfs="http://www.opengis.net/wfs/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://www.geo2france.fr/insee">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://www.geo2france.fr/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="rectangles_200m_menage_erbmType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="oid" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idk" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="men" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="men_occ5" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="pt_men_occ5" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geometry" nillable="true" type="gml:MultiSurfacePropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="rectangles_200m_menage_erbm" substitutionGroup="gml:AbstractFeature" type="insee:rectangles_200m_menage_erbmType"/>
</xsd:schema>